
ul {
    list-style: none;
}
.box {
    height: 100%;
    background-color: #fff;
}
.box-header {
    height: 30px;
    background-color: #eee;
    border-bottom: 1px solid #ccc;
    cursor: move;
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    font-family: 'Rationale', sans-serif;
    font-size: 0.5em;
    color: grey;
    text-align: center;
    vertical-align: middle;
}
.box-header h3 {
    width: 100%;
    margin: 5px;
    display: inline-block;
}
.box-content {
    height: 100%;
    padding-top: 30px;
}
.box-content-padded {
    height: 100%;
    padding: 0px;
    padding-top: 30px;
}
.map {
  padding-top: 30px;
  height: 100%;
  display: block;
}
.box-header-btns {
    top: 15px;
    right: 10px;
    cursor: pointer;
    position: absolute;
}

a {
    color: #ccc;
}
form {
    margin-bottom: 0;
}
.gridster {
    overflow: hidden;
}
.gridster-item {
    border: 1px solid #ccc;
    display:block;
    border-radius: 5px;
    overflow: hidden;
}

#table-scroll {
  height:350px;
  overflow:auto;
}
#table-wrapper table {
  width:100%;
}

.filter-input{
  margin-bottom: -15px;
}


.ewc-card{
  background-color: transparent;
  height: 50px;
  color: white;
}

.widget-clock.blue-light .digital {
  text-align: center;
}
.widget-clock.blue-light .time {
  font-family: 'Rationale', sans-serif;
  font-size: 1.5em;
  color: white;
}

.legend {
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: rgba(255,255,255, 0.9);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    padding: 6px 8px;
    width: 180px;
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}