<!DOCTYPE html>
<html ng-app="intelRef">

  <head>
    <meta charset="utf-8" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title>Gridster + Angular-nvD3</title>
    <script>document.write('<base href="' + document.location + '" />');</script>
  </head>

  <body ng-controller="MainCtrl as mainCtrl">
    <md-toolbar>
      <div class="md-toolbar-tools">
            <span class="md-display-1" style="font-family: 'Rationale', sans-serif;">INTEL Reference</span>
            <span flex></span>
            <ds-widget-clock show-digital theme="blue-light" digital-format="'hh:mm:ss a'"></ds-widget-clock>
            <md-button class="md-fab md-icon-button md-primary" aria-label="User">
              <md-tooltip>User</md-tooltip>
              <img src="assets/user.png" style="width:100%;   padding-bottom: 50%;"/>
            </md-button>
       </div>
    </md-toolbar>


  <md-content flex layout-padding>
    <div>
      <md-button ng-click="mainCtrl.deleteCriteria('frequence')" ng-if="mainCtrl.filterCriteria.frequence" class="md-raised md-primary">
        <span>Place de fréquences : {{mainCtrl.filterCriteria.frequence}} <i class="fa fa-trash-o" aria-hidden="true"></i></span>
      </md-button>
      <md-button ng-click="mainCtrl.deleteCriteria('type')" ng-if="mainCtrl.filterCriteria.type" class="md-raised md-primary">
        <span>Type : {{mainCtrl.filterCriteria.type}} <i class="fa fa-trash-o" aria-hidden="true"></i></span>
      </md-button>
      <md-button ng-click="mainCtrl.deleteCriteria('subType')" ng-if="mainCtrl.filterCriteria.subType" class="md-raised md-primary">
        <span>Sous type : {{mainCtrl.filterCriteria.subType}} <i class="fa fa-trash-o" aria-hidden="true"></i></span>
      </md-button>
    </div>
    <div gridster="mainCtrl.gridsterOptions">

    	<ul class="with-3d-shadow with-transitions">
    		<li gridster-item="widget" ng-repeat="widget in mainCtrl.dashboard.widgets">
    		  <div class="box">
              <div class="box-header">
                  <h3>{{ widget.name }}</h3>
              </div>
              <div class="box-content">
                <nvd3 options="widget.chart.options"
                      data="widget.chart.data"
                      api="widget.chart.api"
                      config="config"
                      events="events"></nvd3>
              </div>
          </div>
    		</li>
        <li gridster-item row="1" col="1" size-x="1" size-y="1">
          <div class="box">
            <div class="box-header">
                  <h3>Radars</h3>
              </div>
              <div class="box-content-padded">
                <md-input-container class="md-block filter-input">
                  <label>Filtrer par nom : </label>
                  <input ng-model="mainCtrl.filterCriteria.nom">
                </md-input-container>
                <div id="table-wrapper">
                  <div id="table-scroll">
                    <md-table-container>
                      <table  md-table>
                          <thead md-head>
                              <tr md-row>
                                  <th md-column><span class="text">Nom</span></th>
                                  <th md-column><span class="text">Date mise à jour</span></th>
                              </tr>
                          </thead>
                          <tbody md-body>
                            <tr md-row ng-repeat="radar in mainCtrl.datatable | filter : mainCtrl.filterCriteria ">
                              <td md-cell>{{radar.nom}}</td>
                              <td md-cell>{{radar.dateMaj}}</td>
                            </tr>
                          </tbody>
                      </table>
                    </md-table-container>
                  </div>
                </div>
              </div>
          </div>
        </li>
        <li gridster-item col="3" row="0" size-x="2" size-y="2">
          <div class="box">
            <div class="box-header">
              <h3>Leaflet Map</h3>
            </div>
            <div class="map" ng-controller="LeafletMapsController">
                <leaflet lf-center="center"  legend="legend" controls="controls" layers="layers" markers="markers" width="100%" height="95%"></leaflet>
            </div>
          </div>
        </li>
    	</ul>

    </div>
  </md-content>

  </body>

  <link rel="stylesheet" href="quotes/nv.d3.min.css"/>
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="../bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="../bower_components/angular-material/angular-material.min.js"></script>
    <script src="quotes/d3.min.js" charset="utf-8"></script>
    <script src="quotes/nv.d3.min.js"></script>
    <script src="quotes/angular-nvd3.min.js"></script>

    <link rel="stylesheet" href="../bower_components/angular-gridster/dist/angular-gridster.min.css"/>
    <script src="../bower_components/angular-gridster/dist/angular-gridster.min.js"></script>

    <script src="../bower_components/angular-ui-clock/dist/angular-clock.min.js"></script>

    <script src="../bower_components/jquery/dist/jquery.min.js"></script>

    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <script src="../bower_components/leaflet/dist/leaflet.js"></script>
    <script src="../bower_components/leaflet-plugins/layer/tile/Bing.js"></script>
    <script src="../bower_components/leaflet.markercluster/dist/leaflet.markercluster.js"></script>
    <script src="../bower_components/angular-leaflet-directive/dist/angular-leaflet-directive.min.js"></script>
    <script src="../bower_components/Leaflet.label/dist/leaflet.label.js"></script>
    <script src="../bower_components/leaflet-search/dist/leaflet-search.src.js"></script>
    <script src="../bower_components/Leaflet.awesome-markers/dist/leaflet.awesome-markers.min.js"></script>

    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="../bower_components/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="../bower_components/leaflet.markercluster/dist/MarkerCluster.css" />
    <link rel="stylesheet" href="../bower_components/leaflet.markercluster/dist/MarkerCluster.Default.css" />
    <script src="bower_components/underscore/underscore.js"></script>
    <link rel="stylesheet" href="../bower_components/leaflet-search/dist/leaflet-search.min.css" />
    <link rel="stylesheet" href="../bower_components/Leaflet.label/dist/leaflet.label.css" />
    <link rel="stylesheet" href="../bower_components/angular-material/angular-material.css" />
    <link rel="stylesheet" href="../bower_components/angular-ui-clock/dist/angular-clock.css" />
    <link rel="stylesheet" href="../bower_components/Leaflet.awesome-markers/dist/leaflet.awesome-markers.css">
    <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.min.css">

    <!-- style sheet -->
    <link href="../bower_components/angular-material-data-table/dist/md-data-table.min.css" rel="stylesheet" type="text/css"/>
    <!-- module -->
    <script type="text/javascript" src="../bower_components/angular-material-data-table/dist/md-data-table.min.js"></script>

    <script src="scripts/module.js"></script>
    <script src = "data/Locs.js"></script>
    <script src = "data/carriers.js"></script>
    <script src="scripts/dataProvider.js"></script>
    <script src="scripts/script.js"></script>
    <script src="scripts/dataService.js"></script>
    <script src="scripts/filterCriteriaService.js"></script>

    <link rel="stylesheet" href="styles/style.css" />

</html>
